name: Deploy Next.js Static to CloudPanel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            cd ~/htdocs/test.brainsoftict.nl
            
            # Update code en negeer lokale server wijzigingen
            git fetch origin main
            git reset --hard origin/main
            
            # Bouw de statische bestanden (de 'out' map)
            npm install
            npm run build
            
            # Herstart de app of start hem als hij nog niet bestaat
            # We gebruiken 'npm start' omdat jij daar nu 'serve' in hebt gezet
            pm2 restart nextjs-app || pm2 start npm --name "nextjs-app" -- start