script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            cd ~/htdocs/test.brainsoftict.nl
            git pull origin main
            npm install
            npm run build
            pm2 restart nextjs-app